<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Globalshala</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
    <link rel="stylesheet" href="css/about.css"

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .div{
            font-family: 'Baloo Chettan', cursive;}
    
    </style>

    <link rel="stylesheet" href="css/tnc.css">


</head>

<body>
    
    <div class="container">
            <div class="row">
                    <div class="backBtn">
                        <br>
                        <br>
                        <span class="line tLine"></span>
                        <span class="line mLine"></span>
                        <a class="label" href="/">Back</a>
                        <span class="line bLine"></span>
                    </div>
            
                </div>
                <center><h1><b>About US</b></h1></center><br><br>

                <center><iframe width="900" height="500" src="https://www.youtube-nocookie.com/embed/F0g7GYtYjbw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center><br><br>
                
                <div class="text"</center></div>
                        Globalshala is a rising platform for connecting students and universities by providing
                        admission to students. Our aim is to improve easiness of opportunities for students and
                        professionalism. We focus on quality of students, practical approach and authenticity of
                        procedure.<br>
                        To improve easiness of opportunities for students, encouraging admissions, internships and
                        professionalism is our main aim.<br>



                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <center>
                <h2 style="text-align:center;color:lightblue"><b>Our Mission</b></h2>
                <div class="text" style="text-align:center; margin-left: 40px;">
                        Our platform connects students and Universities by providing admission to students. We assure
                        quality of students with our task oriented approach. Students are verified of their skills using our
                        online tests. Build your resume with our progressing tasks and increase your skills required by
                        Universities.
                </div>
            </center>
                </div>
                
                <div class="col-sm-8">
                    <img src="images/mission.jpg" height="400px" style="margin-right:40px; float:right;">
                </div>
            </div>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                        <div class="col-sm-8">
                                <img src="images/vision.jpg" height="400px" width="700px" style="margin-left:40px">
                        </div>
                        <div class="col-sm-4">
                            <center>
                <h2 style="text-align:center;color:lightblue"><b>Our Vision</b></h2>
                <div class="text" style="text-align:center; margin-right: 40px">
                        We have a broad vision of improving a student’s career while taking care of admission market pool.
                        Our vision is to motivate students to take active steps towards their career with our digital help.
                        We want efficient students to rise up and improve coming society with their skills and get admission in their dream universities.
                </div>
            </center>
            </div>
        
        
    </div>
    <br>
    <br>
    <br>
</div>

</body>

</html>