<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Globalshala</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/tnc.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="backBtn">
          <br />
          <br />
          <span class="line tLine"></span>
          <span class="line mLine"></span>
          <a class="label" href="/">Back</a>
          <span class="line bLine"></span>
        </div>
      </div>
      <div class="row">
        <br />
        <br />
        <h2>TERMS & CONDITIONS</h2>
        <div>
          This website is owned and operated by a team of developers
          participating in Glabalshala Hacakathon. Please read these terms and
          conditions carefully, as by accessing this site, you are agreeing to
          abide by all the conditions set out below. Our prototype for global
          shala Hacakathon expressly reserves all rights in the content and
          compilation of entire content on the website. The content and software
          on this website may be used for the purposes of private,
          non-commercial viewing of web pages only. Any other use, including the
          downloading, reproduction, copying, modification, distribution,
          republication, display or performance of the content of this website
          is strictly prohibited without the express written consent of our
          team.
        </div>
        <h4>
          "We", "us", "our", means Globalshala "You", "your" means the person or
          the user using the Website under these Terms.
        </h4>
        <ul>
          <li>
            Globalshala has all the rights to change/delete/add the content on
            the website without any announcement or permission. User/buyer is
            limited to viewing the content for any book/material/publications
            available on the website.
          </li>
          <li>
            User is required to provide correct information at the time of
            Registration. If any information is incorrect, the user may get
            blocked at the sites and in that case no money is refundable.
          </li>
          <li>No refund whatsoever shall be applicable.</li>
          <li>
            User/Buyer has to make complete payment transaction (amount should
            be credited into Globalshala account) to consider the order as
            confirmed.
          </li>
          <li>
            Once the order is placed user is not able to make any changes in
            their registration.
          </li>
          <li>
            If any technical issues come from the website of Globalshala then
            the students have to wait till 24hrs to 48hrs the problem get
            resolved.
          </li>
          <li>
            Any Xerox, duplicacy, reproduction etc of Globalshala Books,
            material and other content is strictly prohibited. Globalshala has
            dedicated Anti-Piracy Cell and any person doing the above act(s)
            shall be dealt legally in a suitable Court of Law.
          </li>

          <li>
            On registering on Globalshala, you and respective University are
            giving permission to Globalshala to use your University logo on
            <a href="/">www.globalshala.com</a>
          </li>

          <li>
            On registering on Globalshala, you allow Globalshala to use your
            company logo for any current promotional activity and conducted in
            future.<br />
            We have freedom to use company logo in events such as internship
            fair, startup activity, University Admission and college/ University
            event activity
          </li>

          <li>
            On agreeing these terms and conditions, you agree that the number of
            students that can be enrolled is proportional to your subscription
            plan with which your University registered.
          </li>

          <li>
            On agreeing these terms and conditions, you agree that we don't
            guarantee 100% admission to any student or user
          </li>

          <li>
            On agreeing these terms and conditions, you agree that we don't
            guarentee 100% vacancy fulfilment by students.
          </li>

          <li>
            On agreeing these terms and conditions, you agree that once your
            event has been registered and hosted on our website, you allow
            Globalshala to use your registered logo for current promotional
            activities and conducted in future.
          </li>
        </ul>
      </div>
      <br />
      <br />
      <div class="row">
        <h2>PRIVACY POLICY</h2>
        <div>
          <h4>Privacy Policy Summary</h4>
          <div>
            Thank you for visiting the Globalshala website and reviewing our
            privacy policy. Our policy is simple: We collect no personal
            information about you unless you choose to provide that information
            to us.
          </div>
          <h4>Non-personal Information We Record</h4>
          <div>
            If you do nothing during your visit but browse through the website,
            read pages, or download information, our website's operating system
            will automatically record some general information about your visit.
            During your visit, our web operating system will record:
            <ul>
              <li>
                The Internet domain for your Internet service, such as "xyz.com"
                or "xyz.net" if you use a private Internet access account, or
                "yourcollege.edu" if you connect from a college or university
                domain
              </li>
              <li>
                The type of browser (such as "Netscape version X" or "Internet
                Explorer version X") that you are using.
              </li>
              <li>
                The type of operating system that you use (such as Macintosh,
                Unix, or Windows).
              </li>
              <li>
                The date and time you visit our site, and theweb pages that you
                visit on our site.
              </li>
              <li>
                The address of the previous website you were visiting, if you
                linked to us from another website.
              </li>
            </ul>
            We use this information for statistical analysis, to help us make
            our site more useful to visitors. This tracking system does not
            record information about individuals.
          </div>
          <h4>Cookies</h4>
          <div>
            On certain Globalshala web pages, we use "cookies" to help you use
            our websites interactively. A cookie is a small file that a website
            transfers to your computer's hard disk, usually to keep track of you
            while you are connected to that site. The cookies on Globalshala web
            pages do not collect information about you, but only about your
            browser "session." The cookie makes it easier for you to use the
            dynamic features of these web pages, without having to provide the
            same information again as you move from one page to another. To
            protect your privacy, be sure to close your browser completely after
            you have finished conducting the complete information with a website
            that uses cookies. If you are concerned about the potential use of
            information gathered from your computer by cookies, you can set your
            browser to prompt you before it accepts a cookie. Most Internet
            browsers have settings that let you identify and/or reject cookies.
          </div>
          <h4>Information from E-mail You Send to Us</h4>
          <div>
            If you decide to send us an electronic mail message (e-mail), the
            message will usually contain your return e-mail address. If you
            include personally-identifying information in your e-mail because
            you want us to address issues specific to your situation, we may use
            that information in responding to your request. Also, e-mail is not
            necessarily secure against interception. Please send only
            information necessary to help us process your request.
          </div>
          <h4>Information Collected from Interactive Forms</h4>
          <div>
            On some of our web pages we offer interactive forms that let you
            voluntarily submit personal information (such as your e-mail
            address, name, or organization). This occurs when you are
            registering for counseling, or any queries regarding activities
            offered by Globalshala. In those cases, all submitted information is
            used only for the purposes for which it is intended and is not made
            available to any third party.
          </div>
          <h4>Links to Other Sites</h4>
          <div>
            Our policy discloses the privacy practices for the Globalshala. But
            Globalshala provides links to other websites. When you leave the
            Globalshala, you will be going to sites that are beyond our control.
            These other sites may send their own cookies to users, collect data,
            or solicit personal information. The privacy policies and procedures
            described here for Globalshala do not apply to any external links.
            We encourage you to read the privacy policies of any site you link
            to from ours, especially if you share any personal information. Be
            informed. You are the person best qualified to protect your own
            privacy
          </div>
        </div>
      </div>
      <div class="row">
        <h2>Payment Cancellation & Refund Policy</h2>
        <div>
          The following terms constitute an agreement between registred user and
          Globalshala, the owner and operator of the website
          www.globalshala.com(“Globalshala Website” or the “Site” or the
          “Website”). This agreement governs your use of the Site, both as a
          casual visitor and a registered member as described below. By
          visiting, accessing or registering on this Site, you unconditionally
          accept to be bound by the Payment cancellation and refund policy
          provided herein, as well as the Terms and conditions, Privacy Policy
          documented separately. You agree and confirm that the Terms and
          conditions, Payment cancellation and refund policy, Privacy Policy may
          be amended from time to time without notice. Please ensure that you
          periodically update yourself of the current version of the Terms and
          conditions, Payment cancellation and refund policy, Privacy Policy. If
          you are not agreeable to any of the stated terms and conditions, we
          recommend that you stop visiting or using the Site with immediate
          effect to avoid any breach of agreement.
        </div>
        <div>
          For the purpose of this document, wherever the context so requires
          “You”‘ or “User” shall mean any natural or legal person who has agreed
          to become a member of the Site by providing Registration Data while
          registering on the Site as Registered User using the computer systems.
          Globalshala allows User to surf the Site or making purchases only
          after registering on the Site. The term “we”, “us”, “our” shall mean
          Globalshala.
        </div>
        <div>
          This Payment cancellation and refund policy document must always be
          read along with Terms and conditions, Privacy Policy. The clauses of
          this Payment cancellation and refund policy are applicable in
          conjunction with Terms and conditions, Privacy Policy. By reading and
          agreeing to the Payment cancellation and refund policy, you are deemed
          to have read and agreed on Terms and conditions, Privacy Policy.
        </div>
        <div>
          This document is an electronic record in terms of Information
          Technology Act, 2000 and rules there under as applicable and the
          amended provisions pertaining to electronic records in various
          statutes as amended by the Information Technology Act, 2000. This
          electronic record is generated by a computer system and does not
          require any physical or digital signatures.
        </div>
        <div>
          By accessing, registering with and using the services of Globalshala
          Website, you agree that you have read and understood the Payment
          cancellation and refund policy of Globalshala for using the services
          of Globalshala Website and all your monetary transactions with Intern
          Nexus through this Site will be governed by this Payment cancellation
          and refund policy.
        </div>
        <h4>Price of products and services offered at Globalshala Website</h4>
        <div>
          The price for the products and services sold on Globalshala Website
          would be pre-decided by Globalshala and will be displayed at
          Globalshala Website. This price would be final and not subject to any
          discounts or negotiations, except those discounts which the user is
          eligible for as decided by Globalshala and as displayed on the Site.
          Globalshala reserves the right to change any or all rates of any or
          all products and services without any prior notice.
        </div>
        <div>
          Globalshala reserves the right to change the availability of products
          and services on the Site without giving a prior intimation.
        </div>
        <div>
          Globalshala attempts to be as accurate and as close to the real
          product as possible in displaying contents like product name, product
          description, product images, product videos and product price.
          However, Globalshala does not warrant that such contents are accurate,
          complete, reliable, current and error free. If Globalshala comes
          across any difference in pricing of the product due to typographical
          error, Globalshala will have the right to rectify the same. The
          customer will then be liable to pay the difference as per the
          corrected price. In case the customer is eligible for a refund due to
          the corrected price, Globalshala will refund the difference through
          any feasible means that Globalshala deems fit.
        </div>
        <h4>Availability of Products</h4>
        <div>
          While Globalshala makes all attempts to display the course or Exam
          paper in Globalshala Website that are available sale, Globalshala does
          not guarantee the availability of all products shown in Eaexam Website
          at the time of processing a particular customer order. It is possible
          that some papers shown in the website are not available in for that
          time due to any mistakes sale, or are available in part quantity, at
          the time of processing the order
        </div>
        <h4>Payment Mode</h4>
        <div>
          At present payment can be made to Globalshala for products or services
          purchased at Globalshala through the following modes
          <ul>
            <li>Online Net Banking</li>
            <li>Credit Card</li>
            <li>Debit Card</li>
            <li>UPI</li>
            <li>Wallets</li>
          </ul>
          <div>
            The transfer of money needs to be done before accessing the services
            in terms of Exam paper solutions or Course offered by Globalshala.
            Globalshala Website is not liable to deliver the goods the contents
            are available only for online reading or by the means of virtual
            training.
          </div>
          <div>
            Globalshala reserves the right to introduce new payment modes or
            withdraw any payment mode or add, remove or change payment
            processing agent at the Site without prior intimation.
          </div>
          <div>
            In case and as and when Globalshala introduces online payment modes
            like through credit card, debit card, net banking, Paypal, online
            bank transfer, etc., you agree, understand and confirm that the
            contact address for monetary transactions provided by you for
            availing services of Globalshala Website will be correct and
            accurate. You confirm that you shall not use credit cards/debit
            cards that are not lawfully owned by you. You further agree and
            undertake to provide the correct and valid credit card/debit card
            details at Globalshala Website Site and/or sites of the payment
            processing agents. The said information will not be utilized and
            shared by Globalshala with any of the third parties unless required
            by law, regulation or court order. For all payment transactions made
            in Globalshala Website Site, BGlobalshala uses the payment gateway
            services of third parties (e.g. HDFC bank payment gateway) and all
            matters related to security, authenticity of information provided
            and its remedies will be governed by policies of these third party
            service providers.
          </div>
          <div>
            While availing of any of the payment method’s available on the
            Website, we will not be responsible or assume any liability,
            whatsoever in respect of any loss or damage arising directly or
            indirectly to you due to:
          </div>
          <ul>
            <li>Lack of authorization for any transaction’s, or</li>
            <li>
              Exceeding the preset limit mutually agreed by you and between your
              “Bank’s”, or
            </li>
            <li>Any payment issues arising out of the transaction, or</li>
            <li>Decline of transaction for any other reason’s.</li>
          </ul>
        </div>
        <h4>Payment, Cancellation and Refund Policy</h4>
        <ul>
          <li>
            100% of total value of Globalshala registration amount will be
            refundable if the refund requested with in a 7 days of registration
            or payment.
          </li>
          <li>Only a single order per user is refundable.</li>
          <li>
            No registration amount is aplicable for refundable in case of
            virtual training
          </li>
          <li>
            If any registered details is incorrect than the user may get blocked
            and no refund is aplicable
          </li>
          <li>
            Refundable amount does not include Tax or GST or any other online
            transactional charges i.e no transactional or any type of tax is
            refundable.
          </li>
          <li>
            Registration Amount can only be refundable with a valid reason & It
            may require prrof if its due to technical problem.
          </li>
          <li>
            Globalshala is entitled to cancel the Registration and forfeit the
            “Registration Amount” paid. In case of failure to comply with
            payment terms agreed by the Applicant/s.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
