div{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;

}
h1{
    font-size: 55px;
    /* color: blue; */
}
h2{
    font-size: 35px;
    /* color: blue; */
}
/* .text{
    color: skyblue;
} */